[submodule "Term1/project/CarND-Behavioral-Cloning-P3"]
	path = Term1/project/CarND-Behavioral-Cloning-P3
	url = https://github.com/yhbyhb/CarND-Behavioral-Cloning-P3
[submodule "Term1/project/CarND-Advanced-Lane-Lines"]
	path = Term1/project/CarND-Advanced-Lane-Lines
	url = https://github.com/yhbyhb/CarND-Advanced-Lane-Lines.git
[submodule "Term1/project/CarND-Vehicle-Detection"]
	path = Term1/project/CarND-Vehicle-Detection
	url = https://github.com/yhbyhb/CarND-Vehicle-Detection.git
[submodule "Term2/project/CarND-Extended-Kalman-Filter-Project"]
	path = Term2/project/CarND-Extended-Kalman-Filter-Project
	url = https://github.com/yhbyhb/CarND-Extended-Kalman-Filter-Project.git
[submodule "Term2/project/CarND-Unscented-Kalman-Filter-Project"]
	path = Term2/project/CarND-Unscented-Kalman-Filter-Project
	url = https://github.com/yhbyhb/CarND-Unscented-Kalman-Filter-Project.git
[submodule "Term2/project/CarND-Kidnapped-Vehicle-Project"]
	path = Term2/project/CarND-Kidnapped-Vehicle-Project
	url = https://github.com/yhbyhb/CarND-Kidnapped-Vehicle-Project.git
[submodule "Term2/project/CarND-PID-Control-Project"]
	path = Term2/project/CarND-PID-Control-Project
	url = https://github.com/yhbyhb/CarND-PID-Control-Project.git
[submodule "Term2/lesson19_model_predictive_control/CarND-MPC-Quizzes"]
	path = Term2/lesson19_model_predictive_control/CarND-MPC-Quizzes
	url = https://github.com/yhbyhb/CarND-MPC-Quizzes.git
[submodule "Term2/project/CarND-MPC-Project"]
	path = Term2/project/CarND-MPC-Project
	url = https://github.com/yhbyhb/CarND-MPC-Project.git
[submodule "Term3/project/CarND-Path-Planning-Project"]
	path = Term3/project/CarND-Path-Planning-Project
	url = https://github.com/yhbyhb/CarND-Path-Planning-Project.git
[submodule "Term3/lesson10_scene_understanding/11_object_detection_lab/CarND-Object-Detection-Lab"]
	path = Term3/lesson10_scene_understanding/11_object_detection_lab/CarND-Object-Detection-Lab
	url = https://github.com/yhbyhb/CarND-Object-Detection-Lab.git
