[submodule "Term1/project/CarND-Behavioral-Cloning-P3"]
	path = Term1/project/CarND-Behavioral-Cloning-P3
	url = https://github.com/yhbyhb/CarND-Behavioral-Cloning-P3
[submodule "Term1/project/CarND-Advanced-Lane-Lines"]
	path = Term1/project/CarND-Advanced-Lane-Lines
	url = https://github.com/yhbyhb/CarND-Advanced-Lane-Lines.git
[submodule "Term1/project/CarND-Vehicle-Detection"]
	path = Term1/project/CarND-Vehicle-Detection
	url = https://github.com/yhbyhb/CarND-Vehicle-Detection.git
[submodule "Term2/project/CarND-Extended-Kalman-Filter-Project"]
	path = Term2/project/CarND-Extended-Kalman-Filter-Project
	url = https://github.com/yhbyhb/CarND-Extended-Kalman-Filter-Project.git
[submodule "Term2/project/CarND-Unscented-Kalman-Filter-Project"]
	path = Term2/project/CarND-Unscented-Kalman-Filter-Project
	url = https://github.com/yhbyhb/CarND-Unscented-Kalman-Filter-Project.git
